body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(
        180deg,
        #fef8ff 18.99%,
        #e4d3ff 55.51%,
        #c6a8de 82.31%,
        #bd9ae9 97.18%
      
    );
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

.login-box {
    background-color: #35306D;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    color: white;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.button-group {
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #007bff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-login .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
